<section>
    <body class="hold-transition login-page">
        <div class="login-box">
          <div class="login-logo">
            <a href="../../index2.html"><b>Admin</b>LTE</a>
          </div>
          <!-- /.login-logo -->
          <div class="card">
            <div class="card-body login-card-body">
                <h3  class="login-box-msg border-logo removeBottomPadding"><b>Forgot Password</b></h3>
        
              <form [formGroup]="forgotPasswordForm">
                <div class="input-group mb-2">
                  <input type="email" class="form-control" formControlName="email" placeholder="Email">
                  <div class="input-group-append">
                    <div class="input-group-text">
                      <span class="fas fa-envelope"></span>
                    </div>
                  </div>
                </div>
                <div *ngIf="isValidInput('email')"
                    class="spanErrorText">
                    <div *ngIf="forgotPasswordForm.controls['email'].errors.required">
                    Email is required.
                    </div>
                    <div *ngIf="forgotPasswordForm.controls['email'].errors.pattern">
                    Must be a valid email format.
                    </div>
                </div>
                <div class="row mt-2">
                  <div class="col-12">
                    <button type="submit" [disabled]="!forgotPasswordForm.valid" class="btn btn-primary btn-block">Request new password</button>
                  </div>
                  <!-- /.col -->
                </div>
              </form>
              <div class="row mt-3 mb-1">
                  <div class="col-6">
                    <a [routerLink]="['/main/login']" routerLinkActive="router-link-active" class="text-center">Login</a>
                  </div>
                  <div class="col-6">
                    <a  [routerLink]="['/main/regsiter']" routerLinkActive="router-link-active" class="text-center">Register</a>  
                </div>
              </div>
             
            </div>
            <!-- /.login-card-body -->
          </div>
        </div>
        <!-- /.login-box -->
        </body>
</section>
