// .login-box-body {
//     border-radius: 10px;
//     box-shadow: 0 0 20px 1px;
//     padding: 5% 15px;
//     background-color: #fff;
//     font-family: Montserrat;
//   }
 
//   .login-box {
//     -webkit-box-pack: center;
//     justify-content: center;
//     -webkit-box-align: center;
//     align-items: center;
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     -webkit-transform: translate(-50%,-50%);
//     transform: translate(-50%,-50%);
//     text-align: left;
//     margin: 0 auto;
//   }

  
// .hr-line {
//     border: 2px solid #026FC0;
//     width: 33px;
//     margin-left: 43%;
//     margin-top: 0.5rem;
//   }




a.btn.btn-block.btn-social.btn-facebook.btn-flat {
    text-align: center;
    padding: 6px;
  }
  button.btn.btn-block.btn-social.btn-facebook.btn-flat {
    border-radius: 5px;
  }
  
  
  button.btn.btn-block.btn-social.btn-facebook.btn-flat {
    padding: 5px;
    text-align: center;
  }
  input#exampleInputEmail1, input#exampleInputPassword1, .input-group .input-group-addon {
    border-radius: 5px;
  }
  
  .applyMraginTag{
    margin: 25px;
  }
  
  .input-group {
    margin: 25px 0 0 0;
  }
  .social-auth-links {
    margin: 25px 0;
  }
  
  .login-box-body {
    border-radius: 10px;
    box-shadow: 0 0 20px 1px;
    padding: 5% 15px;
    background-color: #fff;
    font-family: Montserrat;
  }
  .underlineAnchorWithColor{
    text-decoration: underline;
    color: blue;
  }
  .login-box {
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    text-align: left;
    margin: 0 auto;
  }
  
  .hr-line {
    border: 2px solid #026FC0;
    width: 33px;
    margin-left: 43%;
    margin-top: 0.5rem;
  }
  .removeBottomPadding {
    padding-bottom: 0px;
  }
  